@import '../../../styles/global';

.editableItem {
  &:global(.ant-list-item) {
    display: flex;
    padding: 8px 32px;
    align-items: stretch;
    flex-direction: column;
    background: $color-gray-light;
  }

  @include respond-to('sm') {
    padding: 40px 8px 8px 8px !important; // force rewrite .ant-list-item
  }

  :global {
    .ant-list-item-meta-title {
      margin-bottom: 16px;

      @include respond-to('xs') {
        margin-bottom: 10px;
      }
    }

    .ant-list-item-meta-avatar {
      @include respond-to('xs') {
        display: none;
      }
    }

    .ant-list-item-meta-description {
      @include respond-to('xs') {
        display: flex;
      }
    }
  }
}

.timestamp {
  margin-left: 8px;

  &:global(.ant-typography) {
    color: rgba($color: $color-base-dark, $alpha: 0.6);
  }
}

.buttonGroup {
  margin-top: 16px;
  padding-left: 56px;

  button:first-child {
    margin-right: 15px;
  }

  @include respond-to('xs') {
    padding: 0;
  }
}
