@import '../../../styles/global';

.root {
  margin-top: -8px;
  position: relative;
  font-weight: normal;

  &:global(.ant-list-item) {
    display: block;
    padding: 8px 32px 8px 16px;

    @include respond-to('sm') {
      padding: 0;

      :global(.ant-list-item-meta) {
        padding: 8px 16px;
      }
    }
  }

  &:hover {
    background: $color-gray-light;

    .timestamp {
      visibility: visible;
    }
  }

  .timestamp {
    display: inline-block;
    min-width: 56px;
    max-width: 56px;
    margin-right: 16px;
    text-align: right;
    visibility: hidden;
    font-size: 12px;
    color: $color-base-gray-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-to('sm') {
      flex: 1;
      white-space: nowrap;
      min-width: 40px;
      max-width: 40px;
    }
  }

  .username {
    color: $color-base-dark;
    font-size: 14px;
    font-weight: 600;
  }

  .replyTime {
    @extend .username;
    margin-left: 4px;
  }

  .replyLink {
    @extend .replyTime;
    margin-right: 4px;
    cursor: pointer;
    color: $color-primary;
  }

  .text {
    margin-top: 0;
    font-size: 14px;
    white-space: pre-wrap;

    color: $color-base-dark;
    word-break: break-word;

    a {
      display: inline-block;
      font-size: 14px;
    }
  }

  .repliesText {
    @extend .text;
    font-size: 14px;
    color: $color-base-dark;
  }

  .tag {
    padding-left: 10px;
    font-size: 12px;
    color: $color-base-gray-dark;
  }
}
