@import '../../styles/global';

.root {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;

  svg {
    font-size: 14px;
    color: $color-primary;

    &:first-child {
      margin-bottom: -14px;
    }
  }
}