@import '../../styles/global';

.datePicker {
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: -6px;
  color: $color-primary;
}

.panel {
  margin-top: 8px;
  padding: 16px;
  border-radius: 8px;
  max-width: 272px;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: $color-white;
  box-shadow: 0 4px 12px 0 rgba($color: $color-black, $alpha: 0.08), 0 0 0 1px rgba($color: $color-black, $alpha: 0.08);

  .head {
    color: $color-base-dark-gray;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 16px;
    height: 32px;
    display: grid;
    grid-template-columns: 32px 138px 32px;
    grid-gap: 18px;
    justify-items: center;
    align-items: center;
  }

  .years {
    display: grid;
    grid-template-columns: repeat(4, 46px);
    grid-template-rows: repeat(3, 30px);
    grid-gap: 18px;
    color: $color-base-dark-gray;

    .year {
      font-size: 12px;
      cursor: pointer;
      border-radius: 4px;
      @include display-flex;
      align-items: center;
      justify-content: space-around;

      &:hover {
        color: $color-primary;
        background: $color-primary-light;
      }

      &.selected {
        color: $color-white;
        background: $color-primary;
        opacity: 100%;
      }

      &.disabled {
        background: transparent;
        color: $color-base-dark-gray;
        pointer-events: none;
        opacity: 38%;
        -moz-opacity: 0.38;
        -webkit-opacity: 0.38;
        filter: alpha(opacity=38);
      }
    }

    :last-child {
      background: transparent;
      opacity: 38%;
      -moz-opacity: 0.38;
      -webkit-opacity: 0.38;
      filter: alpha(opacity=38);
    }
  }
}

.input {
  :global(.ant-form-explain) {
    margin-left: 8px;
  }
}
