@import '../../styles/global';

.suggestion {
  padding: 8px 12px;
  flex-wrap: nowrap;
  cursor: pointer;
  min-width: 360px;

  @include respond-to('xs-l') {
    min-width: 250px;
  }

  .avatar {
    margin-right: 8px;
    display: inline-block;
    position: relative;
  }

  .name {
    color: $color-base-dark;
  }

  .jobPosition {
    color: $color-base-dark 60%;
  }

  .main {
    flex: 1;
    font-size: 13px;
    color: #a0a0a0;
    line-height: 20px;

    .status {
      margin: 0 4px 0 6px;
    }
  }

  .inCall {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-base-dark-gray;

    svg {
      margin-right: 6px;
      font-size: 13px;
    }
  }

  .active {
    color: $color-white;
  }

  .onlineOffline {
    height: 11px;
    width: 11px;
  }
}
